:root {
  --pink: #f24b88;
  --dark-purple: #59253e;
  --white: #fff;
  --light-grey: #f2f2f2;
  --black: #1f1c26;
  --dark-black: #0d0d0d;
  --semi-black: #332f3c;
}

body::-webkit-scrollbar {
  width: 0.45em;
}

body::-webkit-scrollbar-track {
  background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

/* ========== COMMON ========== */

* {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 12px;
}

.general-bg {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--black);
}

/* ========== NAVIGATION ========== */

.navigation-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 31px;
  padding-bottom: 31px;
}

.burger {
  display: flex;
  flex-direction: column;

  width: 22px;

  list-style: none;
}

.burger::-webkit-details-marker {
  z-index: -1;
  
  display: none;

  appearance: none;
  opacity: 0;
}

.burger__line {
  border: 1px solid var(--light-grey);
  border-radius: 2px;
}

.burger__line:not(:last-child) {
  margin-bottom: 7px;
}

#nav {
  box-sizing: border-box;

  position: absolute;
  top: 80px;
  right: 0;

  width: 154px;

  padding: 30px 14px 30px 26px;

  font-size: 0;

  border-radius: 20px 0 0 20px;
  background-color: var(--dark-purple);
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  margin-bottom: 15px;

  text-align: center;
}

.navigation-list__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;
}

.navigation-btn {
  box-sizing: border-box;

  display: inline-block;
  width: 50%;
  padding: 1px 0 2px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.navigation-btn--accent {
  background-color: var(--pink);
  border-color: var(--pink);
}

@media screen and (min-width: 1024px) {
  .burger {
    z-index: -1;

    display: none;

    pointer-events: none;
    opacity: 0;
  }

  #nav {
    position: static;

    display: flex;
    align-items: center;

    width: auto;

    background-color: initial;
  }

  .navigation-list__item {
    width: max-content;
  }

  .navigation-list {
    display: flex;
    flex-direction: row;
    column-gap: 40px;

    margin-right: 40px;
    margin-bottom: 0;
  }

  .navigation-list__link {
    font-size: 14px;
    line-height: 21px;
  }

  .navigation-btn {
    width: auto;

    padding-left: 8px;
    padding-right: 8px;

    font-size: 14px;
    line-height: 21px;
  }
}